.active{
    border-bottom: solid 1px aqua;
}
.btn-cadastre{
    border: none;
    color: white;
}
.btn-login{
    border: none;
    color: white;
}

.nav-item, .btn-login, .btn-cadastre{ 
    font-size: 25px
}